{% extends 'admin/admin.html.twig' %}

{% block title "Toutes les recettes" %}

{% block body %}
    <h1>Toutes les recettes</h1>

    <p>
        <a href="{{ path('admin.recipe.new') }}" class="btn btn-primary">Ajouter une recette</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>{{ knp_pagination_sortable(recipes, 'ID', 'r.id') }}</th>
                <th>{{ knp_pagination_sortable(recipes, 'Titre', 'r.title') }}</th>
                <th>{{ knp_pagination_sortable(recipes, 'Catégorie', 'c.id') }}</th>
                <th style="width: 200px">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ recipe.id }}</td>
                    <td>
                        <a href="{{ path('admin.recipe.edit', {id: recipe.id}) }}">{{ recipe.title }}</a>
                    </td>
                    <td>
                        <span class="badge badge-pill" style="background-color: {{ recipe.category.color | default('#FFF') }}">{{ recipe.category.name | default('') }}</span>
                    </td>
                    <td>
                        <div class="d-flex gap-1">
                            <a class="btn btn-primary btn-sm" href="{{ path('admin.recipe.edit', {id: recipe.id}) }}">Modifier</a>
                            <form action="{{ path('admin.recipe.delete', {id: recipe.id}) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(recipes) }}
{% endblock %}
